/* To stick the footer to the bottom of the page */
html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    color: #222222;
    /* Margin bottom by footer height with a little room to accomodate small screens */
    margin-bottom: 350px;
}

a {
    color: #008CBA;
}

h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

h3 {
    margin-top: 30px;
}

blockquote {
    color: #666666;
}

.footer {
    background-color: #06062e;
    color: #f9f9f9;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    /* To stick the footer to the bottom of the page */
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    min-height: 90px;
}

@media (min-width:1200px) {
    .container {
        width:970px;
    }
}

.youtube {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* To prevent Academicons from messing with the spacing */
.fa-li {
    top: 0 !important;
}

.project {
    margin-top: 70px;
    padding: 0px 30px;
}

.project-logo {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 80%;
}

.project-icons {
    margin-top: 20px;
    margin-left: 1.5em !important;
}

.project-icons > li {
    margin-bottom: 10px;
}

.icon-list {
    margin-top: 30px;
}

.icon-list li {
    margin-bottom: 30px;
}

.icon-list-small {
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon-list-small li {
    margin-bottom: 10px;
}

/* Navbar */
/*********************************************************************************/
.menu {
    border: none;
    background-color: #060629;
    position: relative;
    min-height: 80px;
    display: block;
}

.menu a {
    color: #ffffff;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 40px;
}

.menu-list > li {
    display: inline;
    padding-right: 12px;
    padding-left: 12px;
}


/* Banner */
/*********************************************************************************/
.banner {
    background-color: #060629;
    color: #f9f9f9;
    margin-bottom: 70px;
}

.banner-logo {
    margin: 70px 0;
}
