body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: #333;
    margin: 0;
}

/* What wraps the content of the site */
.document {
    width: 70%;
    margin: auto;
}

a {
    color: #2878A2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p {
    line-height: 150%;
}

h1 {
    font-size: 180%;
}
h2 {
    font-size: 150%;
}
h4 {
    font-size: 100%;
}

div.footer {
    color: #86989B;
    padding: 30px 8px 30px 0px;
    clear: both;
    font-size: 70%;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

div.footer a {
    color: #86989B;
}

#announcements ul li {
    padding-bottom: 10px;
}

/* NAVIGATION BAR */
/* **************************************************************** */
div.navbar {
    padding: 15px 0 15px 0;
    margin: 0 0 0 0;
    border-bottom: 1px solid #DDD;
    background-color: #F5F5F5;
    left:0;
    right:0;
}

img.navbar-logo {
    padding: 0 20px 0 30px;
    width: auto;
    height: 30px;
}

div.navbar ul {
    margin: 0;
}

div.navbar ul li {
    padding: 0 15px 0 5px;
    display: inline-block;
    font-size: 100%;
    vertical-align: middle;
}

div.navbar ul li a {
    color: #333;
    text-decoration: none;
    font-weight: none;
}

div.navbar ul li a i {
    color: #333;
}

div.navbar ul li a:hover {
    text-decoration: underline;
}

/* **************************************************************** */

/* MEDIA QUERIES */
/* **************************************************************** */
@media screen and (max-width: 1000px) {
    .document {
        width: 95%;
    }
    div.navbar ul li img.navbar-logo {
        padding: 0 0 10px 0;
        width: 100%;
        height: auto;
    }
    div.navbar ul {
        padding: 0 10% 0 10%;
        width: 80%;
    }
    div.navbar ul li {
        padding-top: 15px;
        font-size: 140%;
    }
}
/* **************************************************************** */
