body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    color: #333;
    margin: 0;
}

/* What wraps the content of the site */
.document {
    width: 70%;
    margin: auto;
}

a {
    color: #2878A2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p {
    line-height: 150%;
}

h1 {
    font-size: 20pt;
}
h2 {
    font-size: 16pt;
}
h4 {
    font-size: 12pt;
}

div.footer {
    color: #86989B;
    padding: 30px 8px 30px 0px;
    clear: both;
    font-size: 0.8em;
    text-align: center;
}

div.footer a {
    color: #86989B;
}

#announcements ul li {
    padding-bottom: 10px;
}

/* NAVIGATION BAR */
/* **************************************************************** */
div.navbar {
    padding: 0 0 0 0;
    margin: 0 0 30px 0;
    border-bottom: 1px solid #DDD;
    background-color: #F5F5F5;
    left:0;
    right:0;
}

img.navbar-logo {
    float: left;
    padding: 12px 5% 0 10%;
    width: auto;
    height: 30px;
}

div.navbar ul {
    padding: 15px 0 15px 0;
    margin: 0;
    width: 100%;
}

div.navbar ul li {
    padding: 0 15px 0 5px;
    display: inline-block;
    font-size: 12pt;
}


div.navbar ul li a {
    /*color: #2878A2;*/
    color: #333;
    text-decoration: none;
    font-weight: none;
}

div.navbar ul li a i {
    color: #333;
}

div.navbar ul li a:hover {
    text-decoration: underline;
}

/* **************************************************************** */

/* MEDIA QUERIES */
/* **************************************************************** */
@media screen and (max-width: 800px) {
    .document {
        width: 95%;
    }
    img.navbar-logo {
        float: none;
        padding: 15px 10% 25px 10%;
        width: 80%;
        height: auto;
    }
    div.navbar ul {
        padding: 0 10% 10px 10%;
        width: 80%;
    }
    div.navbar ul li {
        padding-bottom: 10px;
        font-size: 14pt;
    }
}
/* **************************************************************** */
