/* To stick the footer to the bottom of the page */
html {
    position: relative;
    min-height: 100%;
}

body {
    color: #222;
    font-family: "Roboto",Helvetica,Arial,sans-serif !important;
    font-size: 12pt;
    /* Margin bottom by footer height with a little room to accomodate small
     * screens */
    margin-bottom: 200px;
}

a {
    color: #008CBA;
}

h1, h2, h3, h4, h5 {
    font-family: "Raleway",Helvetica,Arial,sans-serif !important;
    font-weight: 200;
}

h1 {
    margin-bottom: 40px;
    line-height: 60px;
}

h2 {
    margin-top: 50px;
}

blockquote {
    font-size: 12pt;
    color: #6F6F6F;
}

.footer {
    color: #6F6F6F;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 11pt;
    /* To stick the footer to the bottom of the page */
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    min-height: 90px;
}

.front-block {
    margin-top: 70px;
}

/* Navbar */
/*********************************************************************************/
.menu {
    border: none;
    margin-bottom: 0px;
    background-color: #06062e;
    position: relative;
    min-height: 80px;
    display: block;
    font-size: 12pt;
}

.menu a {
    color: #aaaaaa;
}

.menu a:hover {
    text-decoration: none;
    color: #eeeeee;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 40px;
}

.menu-list > li {
    display: inline;
    padding-right: 12px;
    padding-left: 12px;
}

.menu-list-bold {
    font-weight: bold;
}


/* Banner */
/*********************************************************************************/
.banner {
    background-color: #06062e;
    padding-top: 60px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
    color: #f9f9f9;
}

.banner-logo {
    width: 100%;
}
