/* To stick the footer to the bottom of the page */
html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    color: #222222;
    font-family: "Open Sans",Arial,sans-serif !important;
    font-size: 1.6em;
    line-height: 1.8em;
    /* Margin bottom by footer height with a little room to accomodate small screens */
    margin-bottom: 350px;
}

a {
    color: #008CBA;
}

h1, h2, h3, h4, h5 {
    font-family: "Raleway",Helvetica,Arial,sans-serif !important;
    font-weight: 200;
}

h1 {
    margin-top: 200px;
    margin-bottom: 40px;
    line-height: 70px;
    text-align: center;
    font-size: 2.4em;
    border-bottom: 1px solid #eee;
}

h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.7em;
}

blockquote {
    color: #666666;
}

.footer {
    font-size: 0.9em;
    background-color: #06062e;
    color: #f9f9f9;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    /* To stick the footer to the bottom of the page */
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    min-height: 90px;
}

@media (min-width:1200px) {
    .container {
        width:970px;
    }
}

.youtube {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* To prevent Academicons from messing with the spacing */
.fa-li {
    top: 0 !important;
}

.project {
    margin-top: 70px;
    padding: 0px 30px;
}

.project-logo {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 80%;
}

.project-icons {
    margin-top: 20px;
    margin-left: 1.5em !important;
}

.project-icons > li {
    margin-bottom: 10px;
}

.icon-list {
    margin-top: 30px;
}

.icon-list li {
    margin-bottom: 30px;
}

.icon-list-small {
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon-list-small li {
    margin-bottom: 10px;
}

code {
    margin-left: 1.5em;
}

/* Navbar */
/*********************************************************************************/
.menu {
    border: none;
    margin-bottom: 40px;
    background-color: #060629;
    position: relative;
    min-height: 80px;
    display: block;
    font-size: 0.9em;
}

.menu a {
    color: #ffffff;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 40px;
}

.menu-list > li {
    display: inline;
    padding-right: 12px;
    padding-left: 12px;
}


/* Banner */
/*********************************************************************************/
.banner {
    background-color: #060629;
    padding-left: 0px;
    padding-right: 0px;
    color: #f9f9f9;
    height: 100vh;
}

.banner-logo {
    height: 70vh;
    padding-left: 10px;
    padding-right: 10px;
}


/* Gallery */
/*********************************************************************************/

.gallery {
    margin-top: 100px;
}

.gallery > p {
    margin-bottom: 30px;
}

.gallery-img {
    margin: 0px;
    padding: 0px;
}

.gallery-img img {
    width: 100%;
}
