/* To stick the footer to the bottom of the page */
html {
    position: relative;
    min-height: 100%;
}

body {
    color: #222222;
    font-family: "Roboto",Helvetica,Arial,sans-serif !important;
    font-weight: 300;
    font-size: 14pt;
    /* Margin bottom by footer height with a little room to accomodate small
     * screens */
    margin-bottom: 350px;
    scroll-behavior: smooth;
}

a {
    color: #008CBA;
}

h1, h2, h3, h4, h5 {
    font-family: "Raleway",Helvetica,Arial,sans-serif !important;
    font-weight: 200;
}

h1 {
    margin-top: 150px;
    margin-bottom: 40px;
    line-height: 70px;
    text-align: center;
    font-size: 45px;
    border-bottom: 1px solid #eee;
}

h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

blockquote {
    font-size: 14pt;
    color: #666666;
}

.footer {
    background-color: #06062e;
    color: #f9f9f9;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 12pt;
    /* To stick the footer to the bottom of the page */
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    min-height: 90px;
}

@media (min-width:1200px) {
 .container {
  width:970px;
 }
}

.project {
    margin-top: 70px;
}

.project-logo {
    margin-top: 20px;
    margin-bottom: 30px;

}

/* To prevent Academicons from messing with the spacing */
.fa-li {
    top: 0 !important;
}

.icon-list {
    margin-top: 30px;
}

.icon-list li {
    margin-bottom: 30px;
}

.project-icons {
    margin-top: 20px;
    margin-left: 1.7em !important;
}

.project-icons > li {
    margin-bottom: 7px;
}

/* Navbar */
/*********************************************************************************/
.menu {
    border: none;
    margin-bottom: 0px;
    background-color: #060629;
    position: relative;
    min-height: 80px;
    display: block;
    font-size: 12pt;
}

.menu a {
    color: #aaaaaa;
}

.menu a:hover {
    text-decoration: none;
    color: #eeeeee;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 40px;
}

.menu-list > li {
    display: inline;
    padding-right: 12px;
    padding-left: 12px;
}

.menu-list-bold {
    font-weight: bold;
}


/* Banner */
/*********************************************************************************/
.banner {
    background-color: #060629;
    padding-top: 60px;
    padding-bottom: 120px;
    padding-left: 0px;
    padding-right: 0px;
    color: #f9f9f9;
}

.banner-logo {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
